*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--black: black;
	--deep-blue: #16254f;
	--grey: #4a4a4a;
	--whtie: white;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid var(--black);
	border-radius: 10px;
	z-index: 10;
	background-color: var(--whtie);
	max-width: 80%;
	min-width: 24rem;
	font-size: 0.8rem;
	color: var(--deep-blue);
}

.modal__header {
	padding: 0.4rem 0.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 9px 9px 0px 0px;
	background-color: var(--deep-blue);
	color: var(--whtie);
}

.modal__header--title {
	font-weight: bold;
	padding-right: 0.4rem;
}

.modal__header--close-btn {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--whtie);
}
.modal__body {
	display: grid;
	gap: 1rem;
	padding-left: 1rem;
}
h1 {
	float: right;
	font-size: 0.8rem;
}
.rating__satisfaction {
	margin: 1rem;
}

@media (max-width: 600px) {
	.modal {
		border-radius: 0;
	}
	.modal__header {
		border-radius: 0px;
		background-color: var(--deep-blue);
	}
}
